# Raw Image Size Analysis
---
## Object
- Train/Test의 모든 이미지를 확인, 이미지의 크기를 시각화

### Import

In [1]:
import cv2
import os
import seaborn
import json
import multiprocessing as mp
from tqdm import tqdm
import math
import pandas as pd

### Config

In [2]:
CONFIG = {
    "path_data":"../../../dataset/",
    "info_data_train":"train.json",  # images, annotations
    "info_data_test":"test.json",
}

### Load Json

In [3]:
with open(os.path.join(CONFIG['path_data'], CONFIG['info_data_train'])) as js:
    json_train = json.load(js)
with open(os.path.join(CONFIG['path_data'], CONFIG['info_data_test'])) as js:
    json_test = json.load(js)

In [4]:
info_train = json_train['images']
annotations_train = json_train['annotations']
info_test = json_test['images']
annotations_test = json_test['annotations']

In [5]:
def get_real_image_size(args):
    img = cv2.imread(os.path.join(CONFIG['path_data'], args['file_name']))
    h,w,c = img.shape
    args['width_real'] = w 
    args['height_real'] = h 
    return args

pool = mp.Pool()
info_train = pool.map(get_real_image_size, tqdm(info_train))
info_test = pool.map(get_real_image_size, tqdm(info_test))

100%|██████████| 4883/4883 [00:06<00:00, 701.52it/s]
100%|██████████| 4871/4871 [00:06<00:00, 709.13it/s]

In [6]:
df_info_train = pd.DataFrame(info_train)
df_info_train.describe()

        width  height  license           id  width_real  height_real
count  4883.0  4883.0   4883.0  4883.000000      4883.0       4883.0
mean   1024.0  1024.0      0.0  2441.000000      1024.0       1024.0
std       0.0     0.0      0.0  1409.745012         0.0          0.0
min    1024.0  1024.0      0.0     0.000000      1024.0       1024.0
25%    1024.0  1024.0      0.0  1220.500000      1024.0       1024.0
50%    1024.0  1024.0      0.0  2441.000000      1024.0       1024.0
75%    1024.0  1024.0      0.0  3661.500000      1024.0       1024.0
max    1024.0  1024.0      0.0  4882.000000      1024.0       1024.0

In [7]:
df_info_test = pd.DataFrame(info_test)
df_info_test.describe()

        width  height  license           id  width_real  height_real
count  4871.0  4871.0   4871.0  4871.000000      4871.0       4871.0
mean   1024.0  1024.0      0.0  2435.000000      1024.0       1024.0
std       0.0     0.0      0.0  1406.280911         0.0          0.0
min    1024.0  1024.0      0.0     0.000000      1024.0       1024.0
25%    1024.0  1024.0      0.0  1217.500000      1024.0       1024.0
50%    1024.0  1024.0      0.0  2435.000000      1024.0       1024.0
75%    1024.0  1024.0      0.0  3652.500000      1024.0       1024.0
max    1024.0  1024.0      0.0  4870.000000      1024.0       1024.0